includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon
    - ./rules.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        analyseAndScan:
            - tests/*/data/*
    tmpDir: cache/phpstan/
    internalErrorsCountLimit: 1
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - LogicException

    editorUrl: 'jetbrains://php-storm/navigate/reference?project=dead-code-detector&path=%%relFile%%:%%line%%' # requires usage of JetBrains Toolbox
    editorUrlTitle: '%%relFile%%:%%line%%'

    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping:
                PHPStan\Rules\Rule: Rule
                PHPStan\Collectors\Collector: Collector
                ShipMonk\PHPStan\DeadCode\Rule\RuleTestCase: RuleTest
                ShipMonk\PHPStan\DeadCode\Provider\MemberUsageProvider: UsageProvider
        enforceReadonlyPublicProperty:
            enabled: false # we support even PHP 7.4

    ignoreErrors:
        -
            message: "#but it's missing from the PHPDoc @throws tag\\.$#" # allow uncatched exceptions in tests
            path: tests/*
