services:
    -
        class: ShipMonk\PHPStan\DeadCode\Hierarchy\ClassHierarchy
    -
        class: ShipMonk\PHPStan\DeadCode\Transformer\FileSystem

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\VendorEntrypointProvider
        tags:
            - shipmonk.deadCode.entrypointProvider
        arguments:
            enabled: %shipmonkDeadCode.entrypoints.vendor.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\PhpUnitEntrypointProvider
        tags:
            - shipmonk.deadCode.entrypointProvider
        arguments:
            enabled: %shipmonkDeadCode.entrypoints.phpunit.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\SymfonyEntrypointProvider
        tags:
            - shipmonk.deadCode.entrypointProvider
        arguments:
            enabled: %shipmonkDeadCode.entrypoints.symfony.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\DoctrineEntrypointProvider
        tags:
            - shipmonk.deadCode.entrypointProvider
        arguments:
            enabled: %shipmonkDeadCode.entrypoints.doctrine.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\PhpStanEntrypointProvider
        tags:
            - shipmonk.deadCode.entrypointProvider
        arguments:
            enabled: %shipmonkDeadCode.entrypoints.phpstan.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\NetteEntrypointProvider
        tags:
            - shipmonk.deadCode.entrypointProvider
        arguments:
            enabled: %shipmonkDeadCode.entrypoints.nette.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Collector\MethodCallCollector
        tags:
            - phpstan.collector

    -
        class: ShipMonk\PHPStan\DeadCode\Collector\ClassDefinitionCollector
        tags:
            - phpstan.collector
    -
        class: ShipMonk\PHPStan\DeadCode\Collector\EntrypointCollector
        tags:
            - phpstan.collector
        arguments:
            entrypointProviders: tagged(shipmonk.deadCode.entrypointProvider)

    -
        class: ShipMonk\PHPStan\DeadCode\Rule\DeadMethodRule
        tags:
            - phpstan.rules.rule
        arguments:
            removeDeadCode: %shipmonkDeadCode.removeDeadCode%
            reportTransitivelyDeadMethodAsSeparateError: %shipmonkDeadCode.reportTransitivelyDeadMethodAsSeparateError%


parameters:
    shipmonkDeadCode:
        removeDeadCode: false
        reportTransitivelyDeadMethodAsSeparateError: false
        entrypoints:
            vendor:
                enabled: true
            phpstan:
                enabled: true
            phpunit:
                enabled: null
            symfony:
                enabled: null
            doctrine:
                enabled: null
            nette:
                enabled: null

parametersSchema:
    shipmonkDeadCode: structure([
        removeDeadCode: bool()
        reportTransitivelyDeadMethodAsSeparateError: bool()
        entrypoints: structure([
            vendor: structure([
                enabled: bool()
            ])
            phpstan: structure([
                enabled: bool()
            ])
            phpunit: structure([
                enabled: schema(bool(), nullable())
            ])
            symfony: structure([
                enabled: schema(bool(), nullable())
            ])
            doctrine: structure([
                enabled: schema(bool(), nullable())
            ])
            nette: structure([
                enabled: schema(bool(), nullable())
            ])
        ])
    ])
