services:
    errorFormatter.removeDeadCode:
        class: ShipMonk\PHPStan\DeadCode\Formatter\RemoveDeadCodeFormatter

    -
        class: ShipMonk\PHPStan\DeadCode\Hierarchy\ClassHierarchy
    -
        class: ShipMonk\PHPStan\DeadCode\Transformer\FileSystem

    -
        class: ShipMonk\PHPStan\DeadCode\Graph\UsageOriginDetector

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\VendorUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.vendor.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\ReflectionUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.reflection.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\PhpUnitUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.phpunit.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\SymfonyUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.symfony.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\DoctrineUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.doctrine.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\PhpStanUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.phpstan.enabled%

    -
        class: ShipMonk\PHPStan\DeadCode\Provider\NetteUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
        arguments:
            enabled: %shipmonkDeadCode.usageProviders.nette.enabled%


    -
        class: ShipMonk\PHPStan\DeadCode\Excluder\TestsUsageExcluder
        tags:
            - shipmonk.deadCode.memberUsageExcluder
        arguments:
            enabled: %shipmonkDeadCode.usageExcluders.tests.enabled%


    -
        class: ShipMonk\PHPStan\DeadCode\Collector\MethodCallCollector
        tags:
            - phpstan.collector
        arguments:
            trackMixedAccess: %shipmonkDeadCode.trackMixedAccess%
            memberUsageExcluders: tagged(shipmonk.deadCode.memberUsageExcluder)

    -
        class: ShipMonk\PHPStan\DeadCode\Collector\ConstantFetchCollector
        tags:
            - phpstan.collector
        arguments:
            trackMixedAccess: %shipmonkDeadCode.trackMixedAccess%
            memberUsageExcluders: tagged(shipmonk.deadCode.memberUsageExcluder)

    -
        class: ShipMonk\PHPStan\DeadCode\Collector\ClassDefinitionCollector
        tags:
            - phpstan.collector

    -
        class: ShipMonk\PHPStan\DeadCode\Collector\ProvidedUsagesCollector
        tags:
            - phpstan.collector
        arguments:
            memberUsageProviders: tagged(shipmonk.deadCode.memberUsageProvider)
            memberUsageExcluders: tagged(shipmonk.deadCode.memberUsageExcluder)

    -
        class: ShipMonk\PHPStan\DeadCode\Rule\DeadCodeRule
        tags:
            - phpstan.rules.rule
            - phpstan.diagnoseExtension
        arguments:
            reportTransitivelyDeadMethodAsSeparateError: %shipmonkDeadCode.reportTransitivelyDeadMethodAsSeparateError%
            trackMixedAccess: %shipmonkDeadCode.trackMixedAccess%

    -
        class: ShipMonk\PHPStan\DeadCode\Compatibility\BackwardCompatibilityChecker
        arguments:
            servicesWithOldTag: tagged(shipmonk.deadCode.entrypointProvider)


parameters:
    shipmonkDeadCode:
        trackMixedAccess: true
        reportTransitivelyDeadMethodAsSeparateError: false
        usageProviders:
            vendor:
                enabled: true
            reflection:
                enabled: true
            phpstan:
                enabled: true
            phpunit:
                enabled: null
            symfony:
                enabled: null
                configDir: null
            doctrine:
                enabled: null
            nette:
                enabled: null
        usageExcluders:
            tests:
                enabled: false

parametersSchema:
    shipmonkDeadCode: structure([
        trackMixedAccess: bool()
        reportTransitivelyDeadMethodAsSeparateError: bool()
        usageProviders: structure([
            vendor: structure([
                enabled: bool()
            ])
            reflection: structure([
                enabled: bool()
            ])
            phpstan: structure([
                enabled: bool()
            ])
            phpunit: structure([
                enabled: schema(bool(), nullable())
            ])
            symfony: structure([
                enabled: schema(bool(), nullable())
                configDir: schema(string(), nullable())
            ])
            doctrine: structure([
                enabled: schema(bool(), nullable())
            ])
            nette: structure([
                enabled: schema(bool(), nullable())
            ])
        ])
        usageExcluders: structure([
            tests: structure([
                enabled: bool()
            ])
        ])
    ])
