name: E2E
on:
    pull_request:

jobs:
    e2e:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include:
                    -
                        repo: phpstan/phpstan-src
                        executable: bin/phpstan
                    -
                        repo: spaze/phpstan-disallowed-calls
                    -
                        repo: infection/infection
                        args: -c devTools/phpstan.neon
                        php: 8.2
                    -
                        repo: shipmonk-rnd/doctrine-mysql-index-hints
                    -
                        repo: shipmonk-rnd/doctrine-two-phase-migrations
                    -
                        repo: shipmonk-rnd/phpstan-rules
                    -
                        repo: shipmonk-rnd/phpstan-baseline-per-identifier
                    -
                        repo: shipmonk-rnd/input-mapper
                        php: 8.3

            fail-fast: false
        steps:
            -
                name: Clone ${{ matrix.repo }}
                uses: actions/checkout@v4
                with:
                    repository: ${{ matrix.repo }}
                    token: ${{ secrets.PAT_GITHUB_CHECKOUT || github.token }}

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php || '8.4' }}
                    ini-file: development
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -
                name: Update Dead Code Detector
                run: |
                    composer config repositories.pr vcs https://github.com/${{ github.event.pull_request.head.repo.full_name }}
                    composer require --dev shipmonk/dead-code-detector:dev-${{ github.head_ref }} --with-all-dependencies --minimal-changes

            -
                name: Run analysis
                run: |
                    ${{ matrix.executable || 'vendor/bin/phpstan' }} analyse ${{ matrix.args }} -vvv --ansi --error-format=prettyJson | \
                    jq -e '.files[] | .messages[] | select(.identifier | test("^shipmonk\\.dead"))' && exit 1 || exit 0
